.my-antd-popover {
  .ant-popover-inner-content {
    padding: 0;
    border-radius: 4px;
    .ant-menu {
      border: 0 none;
      border-radius: 4px;
    }
    .ant-menu-vertical .ant-menu-item {
      margin: 0;
    }
  }
}
